body {
    background: linear-gradient(135deg, #f5f5dc, #ffffff); /* Beige zu Weiß */
    height: 100vh; /* Volle Höhe der Seite */
    margin: 0; /* Kein Rand */
}

.ueberschrift{
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
    text-align: center;
    color: lightsteelblue;
}

.description
{
    background-color: #f1f1f1; /* Sanfter Hintergrund */
    padding: 20px;
    margin: 20px auto;
    width: 80%; /* Breite anpassen */
    max-width: 800px; /* Maximalbreite */
    border-radius: 10px; /* Abgerundete Ecken */
    font-family: 'Arial', sans-serif;
    font-size: 1.1em; /* Etwas größere Schrift */
    color: #333; /* Dunkle Textfarbe für gute Lesbarkeit */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sanfter Schatten */
    line-height: 1.6; /* Zeilenhöhe für besseren Lesefluss */
    text-align: center; /* Text zentrieren */
}

.channel-list-container {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 12px; /* Abgerundete Ecken */
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Schöner Schatten */
    width: 100%;
    max-width: 500px; /* Maximale Breite */
    margin: 0 auto; /* Zentrieren */
    text-align: center; /* Zentrierter Text */
    font-family: 'Arial', sans-serif;
}
