body {
    background: linear-gradient(135deg, #f5f5dc, #ffffff); /* Beige zu Weiß */
    height: 100vh; /* Volle Höhe der Seite */
    margin: 0; /* Kein Rand */
}

.ueberschrift{
    font-family: Baskerville, "Baskerville Old Face", "Hoefler Text", Garamond, "Times New Roman", serif;
}